body{
	background-color: #EFCCF5;
}

h1{
	color: #840A9B;      /*color de fuente*/
	background: white; /*resaltar*/
}
h2{
	color: #3A0642;  
}
p{
	font-family: "Times New Roman", Times, Sefif;
	font-weight: 100;     /*espesor de la letra*/
	color: #1D0A1E;
}