body{
	background-color: #4FADAF;
}
h1{
	color: white;
	background: #0E6060; /*resaltar*/
}
h2{
	color: blue;
}
h3{
	color: #505EDA;
}
p{
	font-family: "Times New Roman", Times, Sefif;
	font-weight: 100;     /*espesor de la letra*/
}